<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558387951881-pdvrogb1b430v45b2863v6ckib8p1srl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558387951881-pdvrogb1b430v45b2863v6ckib8p1srl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>558387951881-fmuuljdv05e4rcn8nf8vkmh40nuo430d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvbsOpnKzWpJAra6f9csZcrbRvnkkkS64</string>
	<key>GCM_SENDER_ID</key>
	<string>558387951881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamstorestudios.bedtimewriter.dev</string>
	<key>PROJECT_ID</key>
	<string>bedtime-writer-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bedtime-writer-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558387951881:ios:9cce8dd2822e0d26bf7bd8</string>
</dict>
</plist>