doctype html
html
  head
    title Select Form ID
  body
    h1 Select Form ID
    form(method='get' action='/form')
      select(name='formId')
        each formId in formIds
          option(value=formId)= formId
      input(type='submit' value='Go')